<!DOCTYPE HTML>
<html>
<head>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/chat.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--<script src="./js/excel.js"></script>-->
    <!--<script data-main="js/config.js" language="JavaScript" defer async="true" src="js/require.js"></script>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div id="" class="center">
    <table id="targetTable" class="table table-bordered" style="background-color:#3c4252;color:white;">
        <tbody>
            <tr align="center">
                <th>标识</th>
                <th>内容</th>
                <th>创建时间</th>
            </tr>
            <tr align="center">
                <td>1</td>
                <td>excel导出01</td>
                <td>2015-07-22</td>
            </tr>
            <tr align="center">
                <td>2</td>
                <td>excel导出02</td>
                <td>2015-07-22</td>
            </tr>
        </tbody>
    </table>
    <a id="exportExcel" type="button" class="btn btn-primary" href="javascript:;">导出Excel</a>
    <a id="flush" type="button" class="btn btn-primary" href="javascript:;">刷新</a>
</div>
</body>
<script src="js/excel.js"></script>
</html>
